li {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
}

.wrap-content {
    min-height: 70vh;
}

.button {
    text-decoration: none;
    cursor: pointer;
}

.btn-heavy {
    background-color: #811132;
    border: 1px solid #811132;
    color: #ffffff;
}

.btn-lite {
    background-color: #FCEBED;
    border: 1px solid #811132;
    color: #333333;
    transition: background-color 0.15s;
}

.btn-lite:hover {
    background-color: #F2CFD3;
}

/*header*/

.header {
    width: 100%;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.header__content {
    height: 105px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__link {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    line-height: 22px;
}

.header__link:hover {
    border-bottom: 2px solid #811132;
}

.header__link_active {
    border-bottom: 2px solid #811132;
}

.header_scroll {
    background: #333333;
}

/*welcome-section*/

.welcome-section {
    height: 100%;
    width: 100%;
    background-image: url(../img/index-main-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FCEBED;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.welcome-section__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

.welcome-section__text-content {
    background: linear-gradient(
            101.6deg, rgba(252, 235, 237, 0.48) 62.8%,
            rgba(252, 235, 237, 0) 111.78%
    );
    padding-left: 30px;
    margin-bottom: 20px;
}

.welcome-section__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
}

.welcome-section__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.welcome-section__btn {
    padding: 18px 75px;
}

/*section-title*/

.section-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

/*advantage-section*/

.advantage-section__item {
    box-sizing: border-box;
    width: 330px;
    height: 200px;
    padding: 0 18px;
    background: #FCEBED;
    border: 1px solid #811132;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.3s;
}

.advantage-section__item:hover {
    filter: drop-shadow(4px 4px 6px rgba(176, 61, 61, 0.25));
}

.advantage-section__number {
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-size: 36px;
    line-height: 44px;
    color: #811132;
}

.advantage-section__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 15px;
}

.advantage-section__description {
    font-size: 18px;
    line-height: 21px;
}

.advantage-section__content_row {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.advantage-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

/*advert-section*/

.advert-section__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.advert-section__col {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advert-section__item {
    height: 480px;
    color: #FFF6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.advert-section__item:hover {
    transform: scale(1.03);
}

.advert-section__item_min {
    height: 220px;
}

.advert-section__text-content {
    padding: 40px 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.34);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.advert-section__title {
    font-weight: bold;
    line-height: 40px;
    border-bottom: 2px solid #FFFFFF;
}

.advert-section__subtitle {

}

.advert-section__item_bg-1 {
    background-image: url(../img/advent-bg-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #811132;
}

.advert-section__item_bg-2 {
    background-image: url(../img/advent-bg-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #811132;
}

.advert-section__item_bg-3 {
    background-image: url(../img/advent-bg-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #811132;
}

/*popular-goods-section*/

.popular-goods-section {

}

.popular-goods-section__goods {
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popular-goods-section__item {
    width: 280px;
}

.popular-goods-section__img {
    width: 280px;
    height: 280px;
    cursor: pointer;
}

.popular-goods-section__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-goods-section__price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    padding: 10px 20px;
}

.popular-goods-section__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popular-goods-section__name-good {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.popular-goods-section__button {
    padding: 8px 28px;
}

/*bottom-scroll*/

.bottom-scroll {
    max-width: 560px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.bottom-scroll__line {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: #811132;
}

.bottom-scroll__slider {
    position: absolute;
    bottom: 6px;
    margin: 0 10px;
    width: 80px;
    height: 9px;
    background-color: #811132;
    cursor: pointer;
}